header.header
    .header__container.container
        .header__wrapper 
            .header__inner.header__inner--logo
                a.header__logo(href="/")
                    img(src="./images/logo.svg", alt="")
            .header__inner.header__inner--nav 
                .header__menu.menu 
                    include ./menu.pug