.menu 
    .menu__btn
    ul.menu__list
        li.menu__item 
            a.menu__link(href="./index.html") Main 
        li.menu__item 
            a.menu__link(href="./docs.html") Docs
        li.menu__item 
            a.menu__link(href="./demo.html") Demo
        li.menu__item 
            a.menu__link.menu__link--outside(href="https://github.com/Alekseevich-psk/pm-Gallery" target="_blank") 
                img(src="./images/ico-git.svg" alt="" srcset="")