.menu 
    .menu__btn
    ul.menu__list
        li.menu__item 
            a.menu__link(href="main") Main 
        li.menu__item 
            a.menu__link(href="docs") Docs
        li.menu__item 
            a.menu__link(href="constructor") Constructor
        li.menu__item.menu__item--git 
            a.menu__link(href="/")
                img(src="./images/ico-git.svg" alt="" srcset="")