.main {
    &__inner {
        &--pm-gallery {
            max-width: 80%;
        }
    }

    &__btn-slide {
        cursor: pointer;
        background-color: #fff;
        border: 1px solid $active;
        border-radius: 30px;
        padding: 4px 32px;
        line-height: 1;
        margin-bottom: 24px;

        &:hover {
            color: $white;
            background-color: $active;
        }
    }
}
