.pm-gallery {
    $widthPreviews: 120px;
    $grey: rgb(168, 168, 168);
    display: none;

    &.active-gallery {
        display: block;
    }

    &__wrapper {
        position: relative;
        justify-content: space-between;
        align-items: stretch;
        display: flex;
    }

    &__inner {
        flex-grow: 1;

        &--previews {
            display: block;
            position: absolute;
            border: 1px solid $grey;
            width: $widthPreviews;
            height: 100%;
            z-index: 2;
            overflow-y: scroll;
            scroll-behavior: smooth;
            overflow: hidden;
        }

        &--picture {
            position: relative;
            padding-left: $widthPreviews;

            &:after {
                position: relative;
                content: "";
                display: block;
                width: 100%;
                padding-bottom: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: $widthPreviews;
                width: calc(100% - $widthPreviews);
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__preview-picture {
        position: relative;
        border: 1px solid transparent;
        width: 100%;
        cursor: pointer;
        transition: $transition;

        &:hover {
            border: 1px solid gray;
        }

        &.active {
            border: 1px solid rgb(30, 4, 90);
        }

        &:after {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__main-picture {
        border: 1px solid gray;
    }

    &__control {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: $black;
        overflow: hidden;

        &.hide-arrows {
            .pm-gallery__arrows {
                display: none;
            }
        }

        &:hover {
            .pm-gallery__btn-size {
                top: 2%;
                right: 2%;
            }

            .pm-gallery__arrows {
                width: 90%;
                left: 5%;
            }
        }
    }

    &__arrows {
        position: absolute;
        transition: $transition;
        display: flex;
        justify-content: space-between;
        width: 130%;
        height: 32px;
        top: 50%;
        left: -15%;
        transform: translateY(-50%);
    }

    &__arrow {
        position: relative;
        cursor: pointer;
        width: 32px;
        height: 32px;
        transition: $transition;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        &:before {
            position: absolute;
            transition: $transition;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 50%;
            background-color: $grey;
            opacity: 0.5;
        }

        &--prev {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36"%3E%3Cg clip-path="url(%23a)"%3E%3Cpath fill="%23fff" d="M2 18a16 16 0 1 1 32 0 16 16 0 0 1-32 0Zm15.57 8a1.43 1.43 0 0 0 0-2L13 19.4h14.14a1.4 1.4 0 0 0 0-2.8h-14l4.43-4.43a1.414 1.414 0 0 0-2-2L7.7 18.08 15.59 26a1.399 1.399 0 0 0 1.98 0Z"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="a"%3E%3Cpath fill="%23fff" d="M0 0h36v36H0z" transform="matrix(0 1 1 0 0 0)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
        }

        &--next{
             background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36"%3E%3Cg clip-path="url(%23a)"%3E%3Cpath fill="%23fff" d="M34 18a16 16 0 1 0-32 0 16 16 0 0 0 32 0Zm-15.57 8a1.43 1.43 0 0 1 0-2L23 19.4H8.86a1.4 1.4 0 0 1 0-2.8h14l-4.43-4.43a1.414 1.414 0 0 1 2-2l7.87 7.91L20.41 26a1.399 1.399 0 0 1-1.98 0Z"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="a"%3E%3Cpath fill="%23fff" d="M0 0h36v36H0z" transform="rotate(90 18 18)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
        }
    }

    &__btn-size {
        cursor: pointer;
        position: absolute;
        transition: $transition;
        top: -52px;
        right: -52px;
        width: 40px;
        height: 40px;

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        &:before {
            transition: $transition;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 50%;
            opacity: 0.7;
            background-color: $grey;
        }

        &:after{
            position: absolute;
            transition: $transition;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-size: 80% 80%;
            background-position: center center;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"%3E%3Cpath stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19h4m0 0v-4m0 4-4-4M9 5H5m0 0v4m0-4 4 4m6-4h4m0 0v4m0-4-4 4M9 19H5m0 0v-4m0 4 4-4"/%3E%3C/svg%3E');
        }
    }
}
