.pm-gallery {
    &.full-screen {
        position: fixed;
        z-index: 9998;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;

        .hide-arrows {
            .pm-gallery__arrows {
                opacity: 1;
                visibility: visible;
                height: auto;
            }
        }

        .pm-gallery {
            &__inner--picture {
                padding-left: 0;

                &:after {
                    padding-bottom: 0;
                    height: 100vh;
                }
            }

            &__main-picture {
                object-fit: contain;
                left: 0;
                width: 100%;
            }

            &__inner--previews {
                // z-index: 99999;
                // position: fixed;
                // left: 50%;
                // transform: rotate(-90deg);
                // top: calc(50% - 120px);
                display: none;
            }

            &__preview-picture {
                img {
                    transform: rotate(90deg);
                }
            }

            &__btn-size {
                &:after {
                    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"%3E%3Cpath stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 15h-4m0 0v4m0-4 4 4M5 9h4m0 0V5m0 4L5 5m14 4h-4m0 0V5m0 4 4-4M5 15h4m0 0v4m0-4-4 4"/%3E%3C/svg%3E');
                }
            }
        }
    }
}
