.pm-gallery {

    &.horizontally-bottom {
        margin-bottom: $widthPreviewPicture !important;

        .pm-gallery {
            &__inner--previews {
                transform: rotate(-90deg) translateY(calc(50% - calc($widthPreviewPicture / 2)));
                top: calc(50% + 60px);

                @media (max-width: 768px) {
                    transform: rotate(-90deg) translateY(calc(50% - calc($widthPreviewPictureMobile / 2)));
                    top: calc(50% + 40px);
                }
            }

            &__inner--picture,
            &__main-picture {
                padding-left: 0 !important;
                width: 100%;
                left: 0;
            }

            &__preview-picture {
                img {
                    transform: rotate(90deg);
                }
            }
        }

        .pm-gallery__pagination {
            .pagination__list {
                width: 100% !important;
            }
        }
    }


}
