.pm-gallery {
    --widthPreviews: 120px;

    @media(max-width: 768px) {
        --widthPreviews: 80px;
    }

    &.horizontally-top {
        padding-top: var(--widthPreviews) !important;

        @media (max-width: 768px) {
            padding-top: var(--widthPreviews) !important;
        }

        .pm-gallery {
            &__inner--previews {
                transform: rotate(-90deg) translateY(calc(50% - 60px));
                top: calc(-50% - 60px);

                @media (max-width: 768px) {
                    transform: rotate(-90deg) translateY(calc(50% - 40px));
                    top: calc(-50% - 40px);
                }
            }

            &__inner--picture,
            &__main-picture {
                padding-left: 0 !important;
                width: 100%;
                left: 0;
            }

            &__preview-picture {
                img {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
