.pm-gallery {
    &.vertical-right {
        .pm-gallery {
            &__inner--previews {
                right: 0;
                left: auto;
            }

            &__inner--picture,
            &__main-picture {
                padding-left: 0 !important;
                left: 0;
            }

            &__inner--picture {
                padding-right: 120px;

                @media (max-width: 768px) {
                    padding-right: 80px !important;
                }
            }
        }
    }
}
