$active: #6b41c6;
$white: #fff;
$black: #090909;

$bgGray: #f4f4f4;

$brRadiusForWrapper: 12px;
$brForElem: 8px;

$paddingForWrapper: 32px 32px;
$paddingForWrapperMobile: 16px 16px;

$transition: 0.25s;

$boxShadow: 0px 6px 12px rgba(0, 0, 0, 0.08), 0px 4px 6px 1px rgba(0, 0, 0, 0.12);
