doctype html
html(lang="en")
    include ./../chunks/head.pug 
    body 
        include ./../chunks/header.pug
        block content
        include ./../chunks/footer.pug    
        include ./../chunks/scripts.pug